.hidden {
    visibility: hidden;
}

.profile-dropdown-list {
    justify-content: space-between;
    display: flex;
    list-style: none;
    border-bottom: 1px solid black;
    align-items: center;
    margin: 0 auto;
    position: sticky;
    top: 0;
    background-color: white;
}

.profile-dropdown-list-item {
    width: 200px;
}

.profile-dropdown {
    list-style: none;
    border: 2px solid black;
    width: 95px;
    margin-top: 10px;
    margin-left: 10%;
    padding: 10px;
}

.profile-button {
    width: 100px;
    border-radius: 40px;
}

.menu-item:hover,
.profile-button:hover,
.create-spot:hover {
    cursor: pointer;
}

.fa-bars {
    margin-right: 10px;
}

.logo {
    color: #FF385C;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Geometric Sans Serif v1', sans-serif;
    margin-top: -2.5%;
}

.title {
    margin-top: 100px;
}

.spots {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.spot {
    height: 300px;
    margin-top: 10px;
}

.spot-image {
    width: 270px;
    height: 250px;
}

.spot,
.spot-image {
    width: 270px;
}

.login-button {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

.create-spot {
    margin-top: -3.5%;
    margin-left: auto;
    font-size: 25px;
    color: blue;
}

.image-container {
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
}

.images {
    display: flex;
}

.images li:first-child {
    width: 50%;
}

.images li:first-child img {
    width: 100%;
    height: 824px;
}

.images li {
    width: 25%;
    height: 412px;
}

.images li img {
    height: 412px;
    width: 100%;
}
