.hidden {
    visibility: hidden;
}

.profile-dropdown-list {
    justify-content: space-between;
    display: flex;
    list-style: none;
    border-bottom: 1px solid black;
    align-items: center;
    margin: 0 auto;
    position: sticky;
    top: 0;
    background-color: white;
    height: 100px;
}

.profile-dropdown-list-item {
    width: 200px;
    margin-top: 1.5%;
}

.up {
    width: 200px;
    margin-top: 5%;
}

.profile-dropdown {
    list-style: none;
    border: 2px solid black;
    width: 150px;
    margin-top: 1%;
    margin-left: 10%;
    padding: 10px;
    background-color: white;
}

.profile-button {
    width: 100px;
    border-radius: 40px;
}

.email {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 5px 0;
}


.menu-item:hover,
.profile-button:hover,
.create-spot:hover,
.hello:hover,
.star:hover,
.end:hover {
    cursor: pointer;
}

.fa-bars {
    margin-right: 10px;
}

.logo {
    color: #FF385C;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Geometric Sans Serif v1', sans-serif;
    margin-top: -1%;
}


.title {
    margin-top: 100px;
}

.create,
.end {
    border: 1px solid black;
    box-shadow: 5px 5px 5px black;
    background-color: #666666;
    color: white;
    text-align: center;
}

.white {
    color: white;
}

.create {
    width: 7%;
}

.spots,
.user-spots {
    list-style: none;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 50%;
}

.spot {
    height: 300px;
    margin-top: 5%;
    flex-wrap: wrap;
    text-decoration: none;
    justify-content: center;
    margin-bottom: 10%;
}

.spot-description,
.spot {
    display: flex;
    justify-content: space-between;
}

.spot-description {
    margin-top: 2%;
    color: black;
}



.end {
    order: 1;
    align-self: flex-end;
    width: 70px;

}

.flex {
    display: flex;
    justify-content: flex-end;
    width: 105%;
    margin-top: -8%;
}

.delete-header {
    text-align: center;
}

a {
    text-decoration: none;
}

.create-spot {
    padding-top: 3%;
}

.spot-image {
    width: 270px;
    height: 250px;
}

.spot,
.spot-image {
    width: 270px;
}

.login-button {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

.create-spot {
    margin-top: -3.5%;
    margin-left: auto;
    font-size: 25px;
    color: blue;
}

.content {
    margin-left: 3.5%;
}

.content-title {
    width: 300px;
    margin-left: 3.4%;
    text-align: left;
}

.review-title {
    width: 300px;
    margin-left: 2.3%;
}

.image-container {
    width: 94%;
    margin-left: 2%;
    margin-right: 3%;
}

.images {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.images li:first-child {
    width: 50%;
}

.images li:first-child img {
    width: 100%;
    height: 824px;
}

.images li {
    width: 25%;
    height: 412px;
}

.images li img {
    height: 412px;
    width: 100%;
}

.images li:nth-child(4) {
    margin-left: 50%;
}

.flex-container {
    padding-right: 100px;
    padding-bottom: 10px;
    justify-content: space-between;
}

.reserve,
.flex-container {
    display: flex;
}

.reserve {
    width: 350px;
    border: 3px solid black;
    border-radius: 5%;
    padding: 15px;
    flex-wrap: wrap;
}

.reserve-button {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #FF385C;
    color: white;
}

.description,
.reserve-description {
    font-size: 20px;
}

.reserve-description {
    margin-left: 6%;
}

.move-up {
    margin-top: -2.5%;
    inline-size: 50%;
    overflow-wrap: break-word;
}

.review-title {
    margin-top: 1%;
}

.reviews {
    list-style: none;
    margin-left: 2%;
    margin-top: 1%;
}

.spot-form {
    width: 25%;
    margin: 0 auto;
}

.form-content {
    inline-size: 90%;
    overflow-wrap: break-word;
    margin-top: 1%;
}

.form {
    border: 0px;
    padding: 0px;
    margin-left: 0px;
    margin-top: 30px;
}

.spot-form-label {
    font-weight: bold;
    display: block;
}

.create-spot-input {
    display: inline-block;
}

.line {
    border-top: 1px solid black;
    padding-top: 10px;
    margin-bottom: 1%;
}

.bottom-border {
    margin-bottom: 20px;
}

.create-review {
    width: 150px;
    text-decoration: none;
    list-style: none;
    background-color: #666666;
    color: white;
    margin-left: 3%;
    height: 30px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px black;
}

.hello {
    width: 150px;
    margin-left: 3.5%;
    margin-top: 1.05%;
    height: 20px;
    text-align: center;
    list-style: none;
    color: white;
}

.review-form {
    text-align: center;
}

.review-submit {
    margin: 0 auto;
}

.rating-input {
    display: flex;
    text-align: center;
    margin-left: 33%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.filled {
    color: black;
}

.empty {
    color: gray;
}

.stars {
    margin-top: 10px;
    margin-left: 10px;
}

.disabled {
    background-color: lightgray;
}

.sign-up-form {
    height: 650px;
}

ul {
    list-style: none;
}

.spot-form-title {
    text-align: left;
}

.review {
    margin-bottom: 2%;
}

.delete-button {
    background-color: #FF385C;
    color: white;
}

.dont-delete-button {
    background-color: #666666;
    color: white;
}

.user-reviews {
    margin-left: -10%;
}

.user-reviews-title {
    text-align: left;
    width: 20%;
    margin-left: 7.8%;
}

.bottom-review {
    margin-bottom: 3%;
}

.disabled {
    background-color: #666666;
    color: white
}

.joke {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
}

.please {
    margin-top: 1px;
}

.logo-image {
    width: 50px;
}
