form {
    width: 600px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    font-family: Arial, Helvetica, sans-serif;
    height: 400px;
}

.header {
    margin: 0 auto;
    width: 80px;
}

input,
button {
    margin: 0 auto;
    margin-left: 15%;
    font-family: Arial, Helvetica, sans-serif;
    height: 30px;
    width: 425px;
    box-sizing: border-box;
    border: 1px solid #999;
    margin-top: 10px;
}

button {
    margin-top: 20px;
    height: 50px;
    background-color: white;
    box-shadow: 5px 5px 5px gray;
    color: gray;
}

label {
    display: flex;
}

h1 {
    text-align: center;
}

p {
    margin-left: 15%;
    margin-bottom: 0;
}

.login-button {
    cursor: not-allowed;
    border-radius: .5rem;
}

.login-buttondisabled {
    background-color: #e61e4d;
    color: white;
    border-radius: .5rem;

}

.error-message {
    color: red;
}
